<h1>ログイン</h1>

<%#= form_for(:session, url: login_path) do |u| %>
<%= form_for(:session, url: "#") do |u| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= u.label :email, "メールアドレス" %>
  <%= u.email_field :email, :class => 'form-control' %>

  <%= u.label :password, "パスワード" %>
  <%= u.password_field :password, :class => 'form-control' %>

  <%= u.submit "ログインする", :class => 'btn btn-primary' %>
<% end %>