<% @users.each do |user| %>
  <div class="mb-3 text-center">
    <%= user.name %>
    <% if user.image.present? %>
      <%= link_to image_tag(user.image, alt: "user.image.name", size: "200x150", class: "img-thumbnail"), user_path(user) %>
    <% else %>
      <%= link_to image_tag("yuuhina.png", alt: "yuuhina logo", size: "200x150", class: "img-thumbnail"), user_path(user) %>
    <% end %>
    <ul class="d-inline-block position-relative">
      <li>レベル：<%= user.state.lv %></li>
      <li>ちから：<%= user.state.str %></li>
      <li>たいりょく：<%= user.state.vit %></li>
      <li>きよう：<%= user.state.dex %></li>
      <li>かしこさ：<%= user.state.int %></li>
      <li>とくしゅ：<%= user.state.spe %></li>
    </ul>
  </div>
<% end %>

<%= paginate @users %>