<div id="update-message"></div>

<strong>プレイヤー：<%= @user.name %></strong>

<div class="container">
  <ul>
    <li>lv:  <span id="lv"><%= @state.lv %></span></li>
    <li>今日使えるポイントの残り: <span id="point"><%= @state.point %></span>P</li>
  </ul>
    <%= form_for(@state, url: user_path, remote: true) do |s| %>
      <%#= s.hidden_field :user_id, value: @state.user_id %>
      <%= hidden_field_tag :user_id, @state.user_id %>
      <%= hidden_field_tag :max %>
      <div>
        ちから：<span id="strVal"><%= @state.str %></span>
        <span class="form-group star" id="str"></span>
        <button type="button" class="plus">+</button>
      </div>
      <div>
        かしこさ：<span id="intVal"><%= @state.int %></span>
        <span class="form-group star" id="int"></span>
        <button type="button" class="plus">+</button>
      </div>

      <button type="button" class="btn cancel">キャンセルする</button>

      <%= s.label :pre_action, "何したの？"%>
      <%= s.text_field :pre_action, class: 'form-control' %>
      <%= s.submit "確定", class: "btn btn-primary" %>
    <% end %>
</div>

<%= render 'raty' %>
<%= render 'updown' %>