<%# flashメッセージ(ajax用) %>
<div id="update-message"></div>

<ul class="list-group list-group-flush text-center mb-4">
  <li class="list-group-item">
    <h3>Player：<%= @user.name %></h1>
  </li>
  <li class="list-group-item">
    Lv :  <span id="lv"><%= @state.lv %></span>
  </li>
  <li class="list-group-item">
    本日使えるポイント : <span id="point"><%= @state.point %></span>P
  </li>
</ul>

<div class="text-center my-3">
  <%= image_tag "yaruo.png", alt: "yaruo logo", size: "200x150" %>
</div>

<div class="row mb-3">
  <div class="col-9 col-lg-5">
    <%= render 'form' %>
  </div>

  <div class="col-3 col-lg-7">
    <div class="status-bar">
      <%= render 'shared/progress_bar', state: @state %>
    </div>
    <div class="text-center m-5">
      <button type="button" class="btn btn-danger cancel">パラメータの割り振りをキャンセルする</button>
    </div>
  </div>
</div>

<%if !@user.records.empty? %>
  <% if !@user.records.last.act_content.nil? %>
    <label class="ml-2">
      前回の行動（クリックで自動入力）: 　
      <button type="button" class="btn btn-outline-info preAction">
        <%= @user.records.last.act_content %>
      </button>
    </label>
  <% end %>
<% end %>


<%= render 'raty' %>
<%= render 'raty_control' %>