<%# flashメッセージ(ajax用) %>
<div id="update-message"></div>

<ul class="list-group list-group-flush text-center mb-4">
  <li class="list-group-item">
    <h1>Player：<%= @user.name %></h1>
  </li>
  <li class="list-group-item">
    Lv :  <span id="lv" class="mark"><%= @state.lv %></span>
  </li>
  <li class="list-group-item">
    本日使えるポイント : <span id="point" class="mark"><%= @state.point %></span>P
  </li>
</ul>


<div class="my-3 text-center">
  <% if @user.image? %>
    <%= link_to image_tag(@user.image, alt: "@user.image.name", size: "300x250", class: "img-thumbnail"),
            edit_user_path(@user) %>
  <% else %>
    <%= link_to image_tag("yuuhina.png", alt: "yuuhina logo", size: "300x250", class: "img-thumbnail"),
            edit_user_path(@user) %>
  <% end %>
  <p class="text-muted">画像を変更する際は、上記画像をクリック</p>
</div>

<div class="row mb-3">
  <div class="col-9 col-lg-5">
    <%= render 'form' %>
  </div>

  <div class="col-3 col-lg-7">
    <div class="status-bar">
      <%= render 'shared/progress_bar', state: @state %>
    </div>
    <div class="text-center m-5">
      <button type="button" class="btn btn-danger cancel">パラメータの割り振りをキャンセルする</button>
    </div>
  </div>
</div>

<%if @user.records.exists? %>
    <label class="ml-2">
      前回の行動（クリックで自動入力）: 　
      <button type="button" class="btn btn-outline-info preAction">
        <%= @user.records.first.act_content %>
      </button>
    </label>
<% end %>

<%= render 'raty' %>
<%= render 'raty_control' %>