<div id="update-message"></div>

<strong>プレイヤー：<%= @user.name %></strong>

<div class="container">
  <ul>
    <li>lv:  <span id="lv"><%= @state.lv %></span></li>
    <li>今日使えるポイントの残り: <span id="point"><%= @state.point %></span>P</li>
  </ul>
    <%= form_with model: @state, url: user_path do |f| %>
      <%= hidden_field_tag :user_id, @state.user_id %>
      <%= hidden_field_tag :max %>
      <div>
        ちから：<span id="strVal"><%= @state.str %></span>
        <span class="form-group star" id="str"></span>
        <button type="button" class="plus">+</button>
      </div>
      <div>
        かしこさ：<span id="intVal"><%= @state.int %></span>
        <span class="form-group star" id="int"></span>
        <button type="button" class="plus">+</button>
      </div>

      <button type="button" class="btn cancel">キャンセルする</button>

      <% if @user.records.last.content.empty? %>
        なし
      <% else %>
        前回の行動:<button type="button" class="btn preAction">
                    <%= @user.records.last.content.slice(/[^"行動："].+$/) %>
                  </button>
      <% end %>

      <div>
        <%= f.label :action, "何したの？"%>
        <%= f.text_field :action, class: 'action form-control', required: true %>
        <%= f.submit "確定", class: "btn btn-primary" %>
      </div>
    <% end %>
</div>

<%= render 'raty' %>
<%= render 'updown' %>