document.body.addEventListener('ajax:success', function(event) {
  <% if @state.errors.any? %>
    <% @state.errors.full_messages.each do |msg| %>
      $('#state-error').append('<li><%= msg %></li>')
    <% end %>
  <% end %>

  <% flash.each do |type, message| %>
    $("#update-message").html('<p class="alert alert-<%= type %> alert-dismissible fade show"><%= message %><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></p>')
  <% end %>
  //console.log("<%= State.column_names.map(&:to_sym).inspect %>")
  

  // ステータス値の更新
  $('#max').val("");
  $('#samp').text('<%= @state.lv %>');
  $('#strVal').text('<%= @state.str %>');
  $('#intVal').text('<%= @state.int %>');

  // 星の更新
  $('#str').raty('set', {
    score: <%= @state.str %> % 3,
  });
  $('#int').raty('set', {
    score: <%= @state.int %> % 3,
  });
  
})