document.body.addEventListener('ajax:success', function(event) {
  <% if @state.errors.any? %>
    <% @state.errors.full_messages.each do |msg| %>
      $('#state-error').append('<li><%= msg %></li>')
    <% end %>
  <% end %>

  <% flash.each do |type, msg| %>
    $("#update-message")
      .html('<p class="alert alert-<%= type %> alert-dismissible fade show"><%= msg %><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></p>');
  <% end %>
  
  <%# ステータス値の更新 %>
  $('#full_attr').val("");
  $('#lv').text('<%= @state.lv %>');
  $('#point').text('<%= @state.point %>');
  $('#strVal').text('<%= @state.str %>');
  $('#vitVal').text('<%= @state.vit %>');
  $('#dexVal').text('<%= @state.dex %>');
  $('#intVal').text('<%= @state.int %>');
  $('#speVal').text('<%= @state.spe %>');
  $('.action').val("");
  $('.preAction').text('<%= @state.user.records.first.act_content %>')
  $(".status-bar").html("<%= escape_javascript(render 'shared/progress_bar', state: @state)%>");

  
  <%# 星の更新 %>
  $('#str').raty('set', {
    score: <%= @state.str %> % 3,
  });
  $('#vit').raty('set', {
    score: <%= @state.vit %> % 3,
  });
  $('#dex').raty('set', {
    score: <%= @state.dex %> % 3,
  });
  $('#int').raty('set', {
    score: <%= @state.int %> % 3,
  });
  $('#spe').raty('set', {
    score: <%= @state.spe %> % 3,
  });
})