<!DOCTYPE html>
<html>
  <head>
    <title>Avartus</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div class="container pt-5">
      <% flash.each do |msg_type, msg| %>
        <div id="abc" class="alert alert-<%= msg_type %> alert-dismissible fade show">
          <%= msg %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>

      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>
